<h1>New Pirate Form</h1>

<form method="POST" action="/pirates">

  <label>Pirate Name:</label>
  <input name="pirate[name]" type="text"><br>
  <label>Pirate Weight:</label>
  <input name="pirate[weight]" type="text"><br>
  <label>Pirate Height:</label>
  <input name="pirate[height]" type="text"><br><br>
  
<% 2.times do |i| %>
  <label>Ship Name <%= i+1 %>:</label>
  <input id=<%= "ship_name_#{i+1}" %> name="pirate[ships][][name]" type="text"><br>
  <label>Ship Type <%= i+1 %>:</label>
  <input id=<%= "ship_type_#{i+1}" %> name="pirate[ships][][type]" type="text"><br>
  <label>Ship Booty <%= i+1 %>:</label>
  <input id=<%= "ship_booty_#{i+1}" %> name="pirate[ships][][booty]" type="text"><br><br>
<% end %>
  <input type="submit" id="Submit">
</form>
